<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pousada Vale Verde</title>

  <!-- Fonts -->
  <link rel="stylesheet" href="/resource/fonts/fontawesome/css/all.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!--Styles CSS-->
  <link rel="stylesheet" href="/resource/css/styles.css">
  <link rel="stylesheet" href="/resource/css/apartamento.css">
</head>

<body>
  <!-- Header / Menu -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><i class="fas fa-hotel mr-2"></i> Vale Verde</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quartos">Quartos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/reserva">Reserva</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
        </ul>
        <button type="button" class="btn btn-dark"><a href="/admin/reservas" class="text-white"><i
              class="fas fa-user-lock mr-2"></i></a></button>
      </div>
    </nav>
  </header>

  <!-- Quartos -->
  <div id="quartos">
    <h1>Apartamentos</h1>
    <div class="apartamento">
      <div class="apto">
        <img src="/resource/images/apto1.jpeg" alt="...">
        <h2>Apartamento 1</h2>
        <div class="description-apto">
          <p>Espaçoso, o apartamento 1 acomoda 2 pessoas em cama de casal queen. Possui TV de 55'' led, tv a cabo 150
            canais mais 1 canal adulto, frigobar, armário e banheira de hidromassagem dupla no banheiro.
            Ducha com aquecimento central a gás e mesa para pequenos lanches e o café da manha que pode ser servido no
            chalé, com taxa extra.
            Wi-fi solicitar na recepção.
            Lareira ao pé da cama, estacionamento em frente ao chalé.</p>
        </div>
        <div class="content">
          <a href="reserva.html">Reservar</a>
        </div>
      </div>
      <div class="apto">
        <img src="/resource/images/apto2.jpeg" alt="...">
        <h2>Apartamento 2</h2>
        <div class="description-apto">
          <p>Espaçoso, o apartamento 2 acomoda 2 pessoas em cama de casal queen. Possui TV de 60'' led, tv a cabo 200
            canais mais 2 canal adulto, frigobar, armário e banheira de hidromassagem dupla no banheiro.
            Ducha com aquecimento central a gás e mesa para pequenos lanches e o café da manha que pode ser servido no
            chalé, com taxa extra.
            Wi-fi solicitar na recepção.
            Lareira ao pé da cama, estacionamento em frente ao chalé.</p>
        </div>
        <div class="content">
          <a href="reserva.html">Reservar</a>
        </div>
      </div>
      <div class="apto">
        <img src="/resource/images/apto3.jpeg" alt="...">
        <h2>Apartamento 3</h2>
        <div class="description-apto">
          <p>Espaçoso, o apartamento 2 acomoda 2 pessoas em cama de casal queen. Possui TV de 70'' led, tv a cabo 300
            canais mais 5 canal adulto, frigobar, armário e banheira de hidromassagem dupla no banheiro.
            Ducha com aquecimento central a gás e mesa para pequenos lanches e o café da manha que pode ser servido no
            chalé, com taxa extra.
            Wi-fi solicitar na recepção.
            Lareira ao pé da cama, estacionamento em frente ao chalé.</p>
        </div>
        <div class="content">
          <a href="reserva.html">Reservar</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer / Rodapé -->
  <footer>
    <div class="rodape">
      <div class="col">
        <div class="col-address">
          <h4>ENDEREÇO</h4>
          <p>R. Orlando Bpo. de Queiróz, 406<br>
            São Miguel, Arcoverde - PE, 56509-330<br>
            Tel: +52 984 980 0640</p>
        </div>
      </div>
      <div class="col">
        <ul class="redes-sociais">
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © Pousada Vale Verde 2020 - Todos os Direitos Reservados</p>
    </div>
  </footer>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>